# Entorno y variables secretas
.env
.env.local
config.js
.env.development.local
.env.test.local
.env.production.local

# Netlify
.netlify/

# Dependencias
node_modules/
dist/
build/

# Archivos del sistema operativo y editores
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
